<#@ template debug="false" hostspecific="false" language="C#" #>
// <2>
<#@ output extension=".txt" #>
// <2>
<# //<3 /> #>
<# // <4> #>
namespace Hello
{
   public class Program
   {
      private static void Main()
      {
         System.Console.WriteLine("Hello, World!");
         System.Console.ReadLine();
      }
   }
}
<# // </4> #>